<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="f1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
  <connectionStrings>
    <add name="cn" connectionString="XpoProvider=MSSqlServer;data source=.;user id=sa;password=sa@123456;initial catalog=f1;Persist Security Info=true"/>
    <add name="f1.Properties.Settings.f1ConnectionString" connectionString="Data Source=.;Initial Catalog= ;Integrated Security=False; USER ID=; Password=" providerName="System.Data.SqlClient"/>
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
	
        <f1.Properties.Settings>
          <setting name="server" serializeAs="String">
            <value>.</value>
          </setting>
          <setting name="sql_name" serializeAs="String">
            <value>sa</value>
          </setting>
          <setting name="sql_pass" serializeAs="String">
            <value>sa@123456</value>
          </setting>
          <setting name="chk_save_db_auto_open" serializeAs="String">
            <value/>
          </setting>
          <setting name="printer_name" serializeAs="String">
            <value/>
          </setting>
          <setting name="su_hash" serializeAs="String">
            <value/>
          </setting>
          <setting name="trial" serializeAs="String">
            <value>0</value>
          </setting>
          <setting name="db_base" serializeAs="String">
            <value/>
          </setting>
          <setting name="chk_search_lang" serializeAs="String">
            <value>False</value>
          </setting>
          <setting name="chk_bal_ware" serializeAs="String">
            <value>False</value>
          </setting>
          <setting name="chk_sales" serializeAs="String">
            <value>False</value>
          </setting>
          <setting name="no_taxes" serializeAs="String">
            <value>False</value>
          </setting>
          <setting name="printer_name_barcode" serializeAs="String">
            <value/>
          </setting>
          <setting name="printer_name2" serializeAs="String">
            <value/>
          </setting>
          <setting name="printer_a4" serializeAs="String">
            <value/>
          </setting>
          <setting name="vendor_acc" serializeAs="String">
            <value/>
          </setting>
          <setting name="clint_acc" serializeAs="String">
            <value/>
          </setting>
          <setting name="add" serializeAs="String">
            <value>add</value>
          </setting>
          <setting name="t1" serializeAs="String">
            <value/>
          </setting>
          <setting name="t2" serializeAs="String">
            <value/>
          </setting>
        </f1.Properties.Settings>
    </userSettings>
</configuration>
